<!-- MAIN PHOTO -->
<div class="row main-photo"> <!-- MAIN PHOTO -->
    <div class="col-12 center-text">
        <h1>Title</h1>
        <p>Description</p>
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
</div>

<div class="container">

    <!-- SERVICES -->
    <div class="row">
        <div class="col-12 text-center">
            <h2>Services</h2>
            <p>Here's what we do</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-4">
            <img src="https://htmlcolorcodes.com/assets/images/colors/dark-gray-color-solid-background-1920x1080.png" class="rounded icon" alt="icon">
            <h3>Service 1</h3>
            <p>Description</p>
        </div>
        <div class="col-4">
            <img src="https://htmlcolorcodes.com/assets/images/colors/dark-gray-color-solid-background-1920x1080.png" class="rounded icon" alt="icon">
            <h3>Service 2</h3>
            <p>Description</p>
        </div>
        <div class="col-4">
            <img src="https://htmlcolorcodes.com/assets/images/colors/dark-gray-color-solid-background-1920x1080.png" class="rounded icon" alt="icon">
            <h3>Service 3</h3>
            <p>Description</p>
        </div>
    </div>

    <!-- WHO WE ARE -->
    <div class="row">
        
    </div>
</div>